.jumbotron{
    background-image: url("../img/pizza.png");
    background-size: cover;
}
.jumbotron h1{
    background-color: #FFFFFF;
    opacity: .7;
    text-align: center;
    margin: 0;
}
.nav-item button{
    margin-right: 22px;
}
.btnCss{
    position: relative;
    left: 50em;
}
.collapse>.navbar {
    margin-left: 70px;
}
.form-check-label {
    margin: 10px;
}
